* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body {
  background-color: #3b2783;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}

label {
  display: block;
}

button {
  background-color: transparent;
  border: none;
}
